#enviroments
.env

#files for air
tmp
.air.toml

#files on images/users
internal/images/usuarios/*
!internal/images/usuarios/

#files on images/atracciones
internal/images/atracciones/*
!internal/images/atracciones/

#file on images/agencias
internal/images/agencias/*
!internal/images/agencias/

#compilated
main.exe